.table-title {
  text-align: center;
  margin-top: 30px;
  font-size: 2rem; /* Adjust size as needed */
  font-weight: bold;
  color: rgb(79, 78, 78);
}
/* Tùy chỉnh màu đường viền của bảng và căn giữa nội dung */
table.dataTable,
table.dataTable th,
table.dataTable td {
  border: 2px solid #3498db; /* Màu xanh */
  text-align: center; /* Căn giữa nội dung trong các ô */
  vertical-align: middle; /* Căn giữa theo chiều dọc */
}
.filterButton {
  transition: transform 0.2s ease, background-color 0.2s ease,
    box-shadow 0.3s ease;
  background-color: #007bff; /* Màu nền xanh ban đầu */
  color: white; /* Màu chữ trắng */
}

.filterButton:active {
  transform: scale(0.95); /* Nút thu nhỏ khi nhấn */
  background-color: #dc3545; /* Đổi màu nền thành đỏ khi nhấn */
  box-shadow: 0 0 10px rgba(220, 53, 69, 0.8); /* Ánh sáng đỏ khi nhấn */
}
